.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 60%; 
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    position: relative;
}

.menu-item:hover {
    background-color: #f9f9f9;
}

.item-content>h3 {
    margin: 0;
}

.add-to-cart-btn {
    position: absolute;
    top: calc(50% - 20px);
    right: 20px;
}