.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 60%; 
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    position: relative;
}

.menu-item:hover {
    background-color: #f9f9f9;
}

.item__header {
    display: flex;
}

.item__header>h3 {
    margin: 0;
    margin-right: 10px;
}

.favorite-marker {
    display: block;
    cursor: pointer;
    font-size: larger;
}

.add-to-cart-btn {
    position: absolute;
    top: calc(50% - 20px);
    right: 20px;
}

.more-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}